@page "/"
@inject HttpClient Http
@using RickAndMortyApi.Models

<style>
    .click-btn {
        background: none;
        border: none;
        box-shadow: none;
    }

    .btn-margin {
        margin-right: 10px;
    }

    .gender-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
    }
</style>

<PageTitle>Characters</PageTitle>

<h1>Information</h1>

<button type="button" class="btn btn-success btn-margin" @onclick="ShowInformation">
    Show information
</button>

<button type="button" class="btn btn-danger btn-margin" @onclick="HideInformation">
    Hide information
</button>
<br />
<br>
<div class="form-group">
    <label for="genderFilter">Filter by Gender:</label>
    <select class="form-control" id="genderFilter" @onchange="SetGenderFilter">
        <option value="All">All</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
</div>

@if (showTable)
{
    @if (characters == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Species</th>
                    <th>Gender</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in characters)
                {
                    if (selectedGenderFilter == "All" || character.Gender == selectedGenderFilter)
                    {
                        <tr>
                            <td>@character.Id</td>
                            <td>
                                <button class="click-btn" @onclick="() => ShowCharacterDetails(character.Id)">@character.Name</button>
                            </td>
                            <td>@character.Status</td>
                            <td>@character.Species</td>
                            <td>@character.Gender</td>
                            <td>
                                @if (character.Gender == "Female")
                                {
                                    <span class="gender-circle" style="background-color: deeppink;"></span>
                                }
                                else if (character.Gender == "Male")
                                {
                                    <span class="gender-circle" style="background-color: dodgerblue;"></span>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

@if (showCharacterDetails)
{
    <CharactersDetails CharacterId="@selectedCharacterId" />
}
